@model IEnumerable<VoHuanDat_QLS.Models.CHUDE>

@{
    ViewBag.Title = "DanhMucChuDe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DanhMucChuDe</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenChuDe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenChuDe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCD }) |
       
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCD })
        </td>
    </tr>
}

</table>
